*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#78563a),url(fashion/banner_f.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
     width: 140px;
     position: absolute;
     top: 4%;
     left: 10% ;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    position: relative;
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: 2px solid white;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: black;
    font-style: italic;
    font-weight: bold;
}









/* Navigation starts  ******************************************************* */
#nav{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -200px;
    top: 0;
    background-color: #92613a; 
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menubtn{
    width: 50px;
    height: 50px;
    background-color: #92613a;
    text-align: center;
    position: fixed;
    right: 30px;
     top: 20px;
     z-index: 3;
     cursor: pointer;
     border-radius: 3px;
}
#menubtn img{
    width: 20px;
    margin: 15px;
}
/* css code for responsiveness */
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
        font-family: "Kaushan Script", cursive;
    }
    .banner-btn a{
       display: block;
       margin: 20px auto;
    }
}






/* ******************     FEATURES        *************************************** */
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text {
    text-align: center;
    padding-bottom : 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #f97731;
    font-weight: bold ;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#e07135,#fff);
    position: absolute;
    top:-20px;
    left: 0;
    z-index: -1;
    transform:rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
    font-weight: bold;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
    justify-content: center;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #f97731;
    font-weight: bold;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon .fa-solid{
    color: #f97731;
    width:50px;
    height: 50px;
    font-size: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    border: 1px solid #f97731;
    border-radius: 8px;
}
.features-text p{
    padding: 0 20px;
    font-weight: bold;
    text-align: initial;
}
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
       
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
       
    }
    .features-img img{
        width: 100%;
      
    }
    .features-text p{
        text-align: justify;
    }  
}











/* css for service section ********************************************************* */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis:48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#f97731);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay {
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
.service-desc p{
    font-weight: bold;
    font-size: 14px;
}
hr{
    background-color: white;
    height: 2px;
    border: d0;
    margin: 15px auto;
    width: 60%;
}
.single-service:hover .service-desc{
    opacity: 1;
    bottom: 40%;
}
@media screen and (max-width: 770px)
{
    .single-service{
        flex-basis:100%;
        margin-bottom: 30px;
    }
    .service-desc p{ 
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{  
        bottom: 25% !important;
    }
}











/* *********************   feedback section *************************************** */
#feedback{
    width: 100%;
    padding: 70px 0;
}
.feedback-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.feedback-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom:30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px grey;
    cursor: pointer;
    transition:  .5s;
}
.feedback-col p{
    font-weight: bold;
    text-align: justify;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 20px;
}
.user-info .fa-brands{
    margin-left: 10px;
    color: #cc3908 ;
    font-size: 20px;
}
.user-info small{
    color: #f97731;
    font-style: italic;
}
.feedback-col:hover{
    transform: translateY(10px);
    box-shadow: 0 7px;
}
@media screen and (max-width: 770px){
    .feedback-col{
        flex-basis:100%;
    }
}










/* *********************** Footer section *********************************************/
#footer{
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}
.footer-row{
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    /* border: 2px solid rgb(17, 222, 34); */
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa-solid,.footer-right .fa-regular{
    color: #f97731;
    font-size: 20px;
    margin: 15px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-media {
    text-align: center;
}
.social-media .fa-brands{
    width: 45px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    color: #f97731;
    
    border: 1px solid #f97731;
    margin: 5px;
    border-radius: 10%;
    cursor: pointer;
    transition: .3s;
}

.social-media .fa-brands:hover{
    background-color: #ff5900;
    color: #fff;
    transform: translateY(-10px);
}
.social-media p{
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width: 770px)
{
    .footer-right, .footer-left{
        /* border: 2px solid; */
        flex-basis: 100%;
        font-size: 12px;   
}
}








